@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.color-option {
  width: 5rem; /* 40px */
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease, border-color 0.3s ease;
  border: 3px solid #8F8F8F;
}

.color-option:hover {
  transform: scale(1.1);
}

.color-option.selected {
  border: 3px solid #3b82f6 !important;
}

.color-option .checkmark {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3b82f6; /* azul */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom:-5px;
  right:-5px;
}

.color-option .checkmark svg {
  width: 12px;
  height: 12px;
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
 
}