.vehiculo{
    display: block;
    position: relative;
    margin:auto;
    width:80%;
}

@media only screen and (min-width: 768px) {
  .vehiculo{
      max-width: 500px;
  }
}


@media only screen and (min-width: 1024px) {
  .vehiculo{
      max-width: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  .vehiculo{
      max-width: 750px;
  }
}

@media only screen and (min-width: 1800px) {
  .vehiculo{
      max-width: 600px;
  }
}

.arrow-rounded-left{
    position: absolute;
    left:0px;
    top:40%;
    bottom:0px;
}

.arrow-rounded-right{
    position: absolute;
    right:0px;
    top:40%;
    bottom:0px;
}

@keyframes blink-fade {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.arrow-blink {
  animation: blink-fade 5s infinite;
}


.vehiculo {
  position: relative;
	transition: transform 0.3s ease;
}

.vehiculo.bounce {
	animation: bounce 0.5s ease;
}

.button-play{
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--color-blue-changan);
}

.custom-shape-divider-top-1747853131 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1747853131 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 157px;
}

.custom-shape-divider-top-1747853131 .shape-fill {
    fill: #F0F0F0;
}

.wave{
  background-color: white;
  min-height: 200px;
}

.body-content{
  background-color: white;
}

.body-content .information{
  max-width: 1300px;
  margin:auto;
}
